.register_buttons {
  margin-top: 1.25rem;
  background-color: #3CAEA3 !important;
  color: #e8f1f2 !important;
  border-radius: 15% !important;
  }

.register_buttons:hover {
    background-color: #20639b !important;
    color: #e8f1f2 !important;
  }

.form_align {
    display: block;
    flex-grow: 1;
    justify-content: space-between;
    margin: 0 auto;
  }

.outer_div_register{
  margin-top: 5%;
  margin-left: 42%;
}

.title {
  color: #20639b;
}

.input_style {
  border-color: #3CAEA3 ;
  border-width: 0.2rem;
  border-radius: 5%;
  height: 25%;
  width: 12rem;
}

.form_align {
  display: block;
  flex-grow: 1;
  justify-content: space-between;
  margin: 0 auto;
}