.glucose_title {
  color: #3CAEA3 !important;
  text-align: center;
  font-size: 1rem;
  margin-bottom: 2%;
  width: 100%;
  margin-left: 15%;
  margin-right: -15%;
}

.glucose_title_post {
  color: #3CAEA3 !important;
  text-align: center;
  font-size: 1rem;
  margin-bottom: 2%;
  width: 100%;
  margin-left: -35%;
}

.glucose_title_pacient {
  color: #3CAEA3 !important;
  text-align: center;
  font-size: 1rem;
  margin-bottom: 2%;
  width: 100%;
  margin-left: 0 auto;
  margin-right: 0 auto;
}
.glucose_buttons {
  margin-top: 1%;
  padding: 0.5rem;
  width: 130px;
  background-color: #3caea3 !important;
  color: #e8f1f2 !important;
  border-radius: 20% !important;
}

.glucose_buttons:hover {
  background-color: #20639b !important;
  color: #e8f1f2 !important;
}



.container-glucose {
  display: flex;
  flex-wrap: wrap;
  margin-left: 30%;
  margin-top: 1%;
  padding: 4%;
}

.item-glucose {
  width: 9.375rem;
  height: 6.25rem;
  padding-left: 1rem;
}

.outer_div_glucose {
  margin-top: 5%;
  margin-left: 30%;
  margin-right: -30%;
  width: 31.25rem;
  height: 15.625rem;
}

.outer_div_glucose_post {
  margin-top: 5%;
  margin-left: 43%;
}

.ant-table-tbody {
  background-color: rgba(24, 26, 27, 255);
  color: gray;
}

.ant-table-tbody > tr > th {
  color: white;
  background: rgba(24, 26, 27, 255) !important;
}

.ant-table-tbody > tr.ant-table-row-level-1:hover > td {
  background: unset;
}

.input-medic-size{
  margin-top: 1%;
  border-color: #3CAEA3 ;
  border-width: 0.2rem;
  border-radius: 5%;
  height: 25%;
  width: 8.5rem;
}